body {
    margin-top: 20px;
}

div {
    display: block;
    vertical-align: baseline;
}

.link-to-page{
    float: right;
    margin: 2px;
}

.partition {
    border: 1px solid gray;
    border-radius: 4px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.reviews {
    border: 1px solid gray;
    border-radius: 4px;
    margin-bottom: 10px;
    position: relative;
}

.review_h2 {
    margin: 8px;
}

.question {
    margin: 8px 8px;
    padding: 8px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
}

.answer {
    margin: 8px 8px 8px 24px;
    padding: 8px;
    border: 1px solid rebeccapurple;
    border-radius: 4px;
}

.comments {
    margin: 8px 8px;
    padding: 8px;
    border: 1px solid forestgreen;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.image_div {
    margin: 8px 8px;
    border: 1px solid;
    border-radius: 4px;
    height: 140px;
    width: 240px;
    overflow: hidden;
}

.image_detail {
    margin: 8px 8px;
    border: 1px solid;
    border-radius: 4px;
    height: 182px;
    width: 312px;
    overflow: hidden;
}

.image_comment {
    margin: 8px 8px;
    border: 1px solid;
    border-radius: 4px;
    height: 125px;
    width: 220px;
    overflow: hidden;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info {
    margin: 8px 8px;
}