{% extends "base.html" %}
{% block content %}
  <div class="partition">
    <div class="image_detail">
      <img class="image" src="{{ place.image_url }}" alt="Place image">
    </div>
    <div class="info">
      <h1>
        {{ place.name }}
        <a href="{% url 'city_guide:place-delete' pk=place.id %}" class="btn btn-danger link-to-page">
          Delete
        </a>

        <a href="{% url 'city_guide:place-update' pk=place.id %}" class="btn btn-secondary link-to-page">
          Update place
        </a>
      </h1>

      <br>

      <p>
        Location: {{ place.location }}
      </p>
      <p>
        About: {{ place.description }}
      </p>
    </div>
  </div>

  <div class="reviews">
    <h2 class="review_h2">
      Reviews
      {% if user.is_staff %}
        <a href="{% url 'city_guide:question-create' pk=place.id %}" class="btn link-to-page" style="color: dodgerblue">
          Question
        </a>
      {% endif %}

      <a href="{% url 'city_guide:comment-create' pk=place.id %}" class="btn link-to-page" style="color: forestgreen">
        Comment
      </a>
    </h2>

    <hr>

    {% for question in place.questions.all %}
      <div class="question">
        {{ question.user.username }}
        <p style="color: dodgerblue">
          question
        </p>

        <p>
          {{ question.created_at }}
        </p>

        <p>
          {{ question.text }}
          <a href="{% url 'city_guide:question-comment-create' pk=place.id question_pk=question.id %}" class="btn link-to-page" style="color: rebeccapurple">
            Answer
          </a>
        </p>
      </div>

      {% for answer in question.comments.all %}
          <div class="answer">
          {{ answer.user.username }}
          <p style="color: rebeccapurple">
            answer
          </p>

          <p>
            {{ answer.created_at }}
          </p>

          <p>
            {{ answer.text }}
          </p>
        </div>
      {% endfor %}
    {% endfor %}

    {% for comment in place.comments.all %}
      {% if not comment.question %}
        <div class="comments">
          <div>
            {{ comment.user.username }}
            <p style="color: forestgreen">
              comment
            </p>

            <p>
              {{ comment.created_at }}
            </p>

            <p>
              {{ comment.text }}
            </p>
          </div>

          {% if comment.media_url %}
            <div class="image_comment">
              <img class="image" src="{{ comment.media_url }}" alt="Comment media">
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
